{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Student Management System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header>
      <h2>
        <a href="{% url 'home' %}">Student Management System</a>
      </h2>
    </header>

    <main>
      {% if messages %} {% for message in messages %}
      <p class="message">{{ message }}</p>
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </main>
  </body>
</html>
